<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel='import' href='../bower_components/polymer/polymer.html'>
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button-animations.html">


<link rel="import" href="shared-styles.html">

<dom-module id="new-movements">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      paper-button.link {
        color: #757575;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
          id="getUsersAjax"
          method="get"
          url="http://localhost:3001/api/protected/users"
          handle-as="json"
          last-response="{{users}}">
    </iron-ajax>

    <iron-ajax
      id="getCuentasAjax"
      method="get"
      url="http://localhost:3001/api/protected/cuentas/"
      handle-as="json"
      last-response="{{cuentas}}">
    </iron-ajax>

    <iron-ajax
      id="getCuentasDAjax"
      method="get"
      url="http://localhost:3001/api/protected/cuentas/"
      handle-as="json"
      last-response="{{cuentasD}}">
    </iron-ajax>

    <iron-ajax
      url="http://localhost:3001/api/protected/trans/"
      id="realizarTransAjax"
      method="put"
      content-type="application/json"
      handle-as="text"
      on-response="handleTransResponse"
      on-error="handleTransError">
    </iron-ajax>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <h1>Transferencia</h1>

      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.nombre]]! Aqui puede transferir dinero a otra cuenta, suya o de otro usuario</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <h5>Seleccionar cuenta origen, usuario destino, cuenta destino e importe</h5>

        <paper-dropdown-menu label="Cuenta origen" no-animations="false" on-focus="getCuentas"  on-iron-select="_accountSelected">
          <paper-listbox slot="dropdown-content" id="cuentaOrigen" >
            <template is="dom-repeat" items="{{cuentas}}">
              <paper-item>{{item.idCuenta}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>

        <p>  </p>

        <paper-button class="primary" raised on-tap="getUsuarios">Cargar usuario</paper-button>


        <paper-dropdown-menu label="Usuario destino" no-animations="false" name="usarioDestino">
          <paper-listbox slot="dropdown-content" id="usarioDestino" selected="{{formData.userDSelected}}" attr-for-selected="value">
            <template is="dom-repeat" items="{{users}}">
              <paper-item value={{item.idCliente}}>{{item.username}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>

        <input is="iron-input" name="usarioDestino" id="hiddenSelected" type="hidden" value="[[formData.userDSelected]]">

        <p>  </p>

        <paper-button class="primary" raised on-tap="getCuentasD">Cargar cuentas</paper-button>

        <paper-dropdown-menu label="Cuenta Destino" no-animations="false" on-iron-select="_accountDSelected">
          <paper-listbox slot="dropdown-content" id="cuentaDestino">
            <template is="dom-repeat" items="{{cuentasD}}">
              <paper-item>{{item.idCuenta}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>

        <p>  </p>

        <paper-input-container>
          <label slot="input">Importe</label>
          <iron-input slot="input" bind-value="{{formData.importe}}">
            <input class="input-style" id="importe" type="number" value="{{importe}}" placeholder="importe">
          </iron-input>
        </paper-input-container>

        <p>  </p>

        <paper-button class="primary" raised on-tap="realizarTrans">Realizar transferencia</paper-button>
      </div>

      <p hidden$="[[storedUser.loggedin]]">Ud debe <a href="/register-login">log in</a> para hacer una transferencia!</p>
    </div>
  </template>

  <script>
    class NewMovements extends Polymer.Element {
        static get is() { return 'new-movements'; }

        static get properties() {
            return {
                formData: {
                  type: Object,
                  value: {}
                },
                cuentas: Object,
                users: Object,
                cuentasD: Object,
                error: String
            };
        }

        ready() {
              super.ready();
              this.getCuentas();
        }

        initStoredUser() {
                if (this.storedUser.loggedin) {
                }
        }

        _accountSelected(e){
              var selectedItem = e.target.selectedItem;
              if (selectedItem) {
                this.formData.cuentaOrigen = selectedItem.innerText;
              }
        }

        _accountDSelected(e){
              var selectedItem = e.target.selectedItem;
              if (selectedItem) {
                this.formData.cuentaDestino = selectedItem.innerText;
              }
        }

        getCuentas() {
              this.$.getCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getCuentasAjax.params={"idCliente":this.storedUser.idCliente};
              this.$.getCuentasAjax.generateRequest();
        }

        getCuentasD() {
              this.$.getCuentasDAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getCuentasDAjax.params={"idCliente":this.formData.userDSelected};
              this.$.getCuentasDAjax.generateRequest();
        }

        getUsuarios() {
              this.$.getUsersAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getUsersAjax.generateRequest();
        }


        _setReqBody() {
                this.$.realizarTransAjax.body = this.formData;
                this.$.realizarTransAjax.body.idCliente = this.storedUser.idCliente
                this.$.realizarTransAjax.body.timestamp = new Date();
        }

        realizarTrans(){
                    this._setReqBody();
                    console.log(this.formData)
                    this.$.realizarTransAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                    this.$.realizarTransAjax.generateRequest();
                    this.dispatchEvent(new CustomEvent("mievento", {"detail":{"from":"transferencia"}}))
        }

        handleTransResponse(event) {
              this.error = '';
              this.formData = {};
              this.cuentas = '';
              this.users = '';
              this.cuentasD = '';

              this.set('route.path', '/secret-movements');
        }

        handleTransError(event) {
              this.error = event.detail.request.xhr.response;
        }
    }

    window.customElements.define(NewMovements.is, NewMovements);
  </script>
</dom-module>
