<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel='import' href='../bower_components/polymer/polymer.html'>
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button-animations.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">


<link rel="import" href="shared-styles.html">


<dom-module id="secret-movements">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
          id="getMovementAjax"
          method="get"
          url="http://localhost:3001/api/protected/movimientos/"
          handle-as="json"
          on-response="_jsonToDataMes"
          last-response="{{movement}}">
    </iron-ajax>

    <iron-ajax
      id="getCuentasAjax"
      method="get"
      url="http://localhost:3001/api/protected/cuentas/"
      handle-as="json"
      last-response="{{cuentas}}">
    </iron-ajax>


    <div class="card">
      <h1>Movimientos</h1>

      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.nombre]]! Usted tiene acceso a sus movimientos:</p>

        <h5>Seleccionar tipo de movimiento</h5>
          <paper-button class="primary" raised on-tap="_getCuentas">Obtener las cuentas</paper-button>

          <paper-dropdown-menu id="dropdown" label="Cuentas" no-animations="false" on-focus="_getCuentas"  on-iron-select="_accountSelected">
            <paper-listbox slot="dropdown-content" id="listbox">
              <template is="dom-repeat" items="{{cuentas}}">
                <paper-item>{{item.idCuenta}}</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>

          <paper-button class="primary" raised on-tap="_getMovement">Obtener los movimientos</paper-button>

          <paper-dropdown-menu label="Tipo Movimiento" no-animations="false" value="{{movementTypeSelected}}" on-iron-select="_movementTypeSelected">
                   <paper-listbox  slot = "dropdown-content">
                      <paper-item data-value="1">todos</paper-item>
                      <paper-item>extraccion</paper-item>
                      <paper-item>deposito</paper-item>
                      <paper-item>transferencia</paper-item>
                   </paper-listbox>
          </paper-dropdown-menu>

          <template is="dom-if" if="[[valid]]">
              <google-chart
                id="chart"
                type="column"
                options='{"title": "Tipos de movimimientos por mes"}'
                data={{dataMesArray}}>
              </google-chart>
            </template>


            <div class="container">
                  <div class="row">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Tipo Movimiento</th>
                      </tr>
                    </thead>
                      <tbody>
                        <template id="tabla" is="dom-repeat" items="{{movement}}" index-as="index" filter="_isNotFiltered">
                          <tr>
                            <td> [[item.fecha]] </td>
                            <td> [[item.importe]] </td>
                            <td> [[item.type]] </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>
            </div>
      </div>

      <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login">log in</a> to access secret quotes!</p>
    </div>

  </template>

  <script>
    class SecretMovements extends Polymer.Element {
        static get is() { return 'secret-movements'; }

        static get properties() {
            return {
                storedUser: Object,
                movementTypeSelected: Object,
                accountSelected: Object,
                cuentas: Array,
                movement: Array,
                dataMesArray: Array,
                valid: Object
              };
        }

        ready() {
            super.ready();
            this._getCuentas();
          }

        _isNotFiltered(element) {
              if (!element) return false;
              return (element.type == this.movementTypeSelected) || (this.movementTypeSelected=="todos" || typeof this.movementTypeSelected=="undefined" );
         }

        _accountSelected(e){
              var selectedItem = e.target.selectedItem;
              if (selectedItem) {
                this.accountSelected = selectedItem.innerText;
              }
        }

        _movementTypeSelected(e){
            this.$.tabla.render()
        }


        _jsonToDataMes() {
              if (this.movement){
                var fechas = []
                var extraccion = {}
                var deposito = {}
                var transferencia = {}

                this.movement.forEach(function (a) {
                      var key = a.fecha.substring(0,7);
                      if (!extraccion[key]) {
                        fechas.push(a.fecha.substring(0,7));
                        extraccion[key] = { fecha: a.fecha.substring(0,7), importe: 0 };
                        deposito[key] = { fecha: a.fecha.substring(0,7), importe: 0 };
                        transferencia[key] = { fecha: a.fecha.substring(0,7), importe: 0 };
                      }
                      if (a.type == "extraccion")  extraccion[key].importe += a.importe;
                      if (a.type == "deposito")  deposito[key].importe += a.importe;
                      if (a.type == "transferencia") transferencia[key].importe += a.importe;
                  }, Object.create(null));

                 this.dataMesArray = [['Month', 'Extraccion','Deposito','Transferencia']];
                 for (var n = 0; n < fechas.length; n++) {
                        this.dataMesArray.push([fechas[n], extraccion[fechas[n]].importe, deposito[fechas[n]].importe, transferencia[fechas[n]].importe]);
                  }
                }
        }
        clearForm(){
          console.log(this.movement)
          this.movement.length = 0
          this.$.dropdown._setSelectedItem(null);
          this.$.tabla.render()
          this.dataMesArray.length = 0
          this.valid = false
          this._jsonToDataMes()
        }
        _getMovement() {
              this.$.getMovementAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getMovementAjax.params={"idCliente":this.storedUser.idCliente,"idCuenta":this.accountSelected};
              this.$.getMovementAjax.generateRequest();
              this.valid = true;

        }
        _getCuentas() {
              this.$.getCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getCuentasAjax.params={"idCliente":this.storedUser.idCliente};
              this.$.getCuentasAjax.generateRequest();
        }
        initStoredUser() {
        }

        }

    window.customElements.define(SecretMovements.is, SecretMovements);
  </script>
</dom-module>
